* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  background-color: #acd8aa;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.main {
  /* height: fit-content; */
  overflow: hidden;
  width: 80vw;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f9bdc8;
  box-shadow: 1px 1px 10px;
}
.heading {
  background-color: #f48498;
  height: 10vh;
}
.content {
  margin: 10vh;
}

input {
  height: 8vh;
  width: 90%;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  font: 400;
  font-size: larger;
  text-transform: capitalize;
}
button {
  height: 8vh;
  width: 90%;
  border: 1px solid;
  border-radius: 10px;
}
button:hover {
  box-shadow: 1px 1px 10px black;
  translate: (-2px);
  background-color: #f48498;
}

.meaning{
  height: 30px;
  padding: 10px;
  margin: 10px;
  font-size: 25px;
}
.example{
  /* height: 30px; */
  font-size: 25px;
  margin: 10px;
  padding: 10px;
  margin-top: 20px;
}
