* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    background-size: 100px;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100hv;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

.img1 {
    width: 100%; /* Adjusted to fill the container */
    max-width: 900px; /* Added maximum width for responsiveness */
    float: right;
}

.txt1 {
    float: left;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;
    font-size: 45px;
    line-height: 49px;
    padding-left: 30px;
padding-top: 110px;
  
}
.x {
    color: hsl(340deg 100% 32%);
}
.uu {
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden; /* Added to clear the float */
}

.dd {
    /* Added to control the width of the text container */
    max-width: calc(100% - 900px);
}

.pp {
float: right;
    max-width: 900px;
    margin: 0 auto; /* Center the image container */
}

.pushable {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
 
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 2rem;
    background: hsl(345deg 100% 47%);
    color: white;
    font-family: 'Poppins', sans-serif;

    transform: translateY(-6px);
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }